<div class="d-flex mb-1">
    <div class="">
        <img src="{{ suggested_user.profile_picture_url }}"
             style="width: 32px; height: 32px;"
             class="rounded-circle" />
    </div>
    <div class="ms-2">
        <a href="{% url 'instagram:user_page' suggested_user.username %}">
            {{ suggested_user.username }}
        </a>
    </div>
    <div class="ms-auto">
        <a href="{% url 'user_follow' suggested_user.username %}" class="me-3">Follow</a>
    </div>
</div>
